---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Profil Para Calon"
	description="Berikut adalah profil para calon Gubernur yang mengikuti Pilkada 2024 Sumatera Barat"
	pubDate={new Date('October 13 2024')}
	heroImage="/profil-calon-gubernur-sumbar.png"
>
<h2>
    👬
</h2>
	<p>
		Terima kasih telah mengunjungi halaman website ini.<br>Saat ini website masih dalam tahap pengembangan.
	</p>
</Layout>
