<button class="hamburger" type="button" aria-label="Toggle Navigation">
    <span class="bar bar-top"></span>
    <span class="bar bar-middle"></span>
    <span class="bar bar-bottom"></span>
</button>

<style>
  .hamburger {
    display: none;
    @media (max-width: 768px) {
      display: block;
      width: 30px;
      height: 30px;
      padding: 0;
      border: none;
      background: transparent;
      cursor: pointer;
      position: relative;
    }
  }

  .hamburger .bar {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--black);
    margin-bottom: 5px;
  }

  .hamburger .bar-top {
    transform: translateY(0);
  }

  .hamburger.active .bar-top {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger .bar-middle {
    opacity: 1;
  }

  .hamburger.active .bar-middle {
    opacity: 0;
  }

  .hamburger .bar-bottom {
    transform: translateY(0);
  }

  .hamburger.active .bar-bottom {
    transform: translateY(-8px) rotate(-45deg);
  }
</style>


